---
import { getCollection } from 'astro:content';
import type { InferGetStaticPropsType } from 'astro';
import MarkdownPostLayout from '../../../layouts/MarkdownPostLayout.astro';
import timeToRead from '../../../utils/timeToRead';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => {
    return {
      params: {
        post: post.slug,
      },
      props: post,
    }
  })
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>
const post = Astro.props;
const { Content, headings } = await post.render();
---
<MarkdownPostLayout
  title={post.data.title}
  publishDate={post.data.publishDate}
  tags={post.data.tags}
>
<main>
  <article>
    <div class="mx-auto card w-full max-w-screen-lg">
      <div>
        <div class="flex justify-between items-center">
          <h1 class="font-bold text-3xl font-serif max-w-[650px]">
            {post.data.title}
          </h1>
          <div class="bg-neutral-800 rounded-md px-2 py-1 tracking-tighter text-white">
            {post.data.publishDate.toString().slice(0, 10)}
          </div>  
        </div>
      
      <div class="grid grid-cols-[auto_1fr_auto] items-center mt-4 mb-8 font-mono text-sm max-w-[650px]">
				<div class="bg-neutral-800 rounded-md px-2 py-1 tracking-tighter text-white">
          <span>{timeToRead(post.body)}m read</span>
				</div>
				<div class="h-[0.2em] bg-neutral-800 mx-2" />
			</div>
        <div class="prose max-w-[650px]">
          <Content />
        </div>
      </div>
  </article>
</main>


</MarkdownPostLayout>